In [4]:
import sqlalchemy as db

In [5]:
engine = db.create_engine("sqlite:///tickets.db")

In [1]:
from sqlalchemy import MetaData
from sqlalchemy import Table, Column, String, Integer, DateTime

In [9]:
metadata = MetaData()

In [12]:
#create msa table
msa = Table('msa', metadata,
            Column('zip', String(5), primary_key=True),
            Column('msa', String(5)),
            Column('population', Integer))

In [ ]:
#create Venue table (with capacity)
venue = Table('venue', metadata,
              Column('id', String, primary_key=True),
              Column('venue_name', String),
              Column('capacity', Integer),
              Column('lat', Integer),
              Column('long', Integer),
              Column('city', String),
              Column('state', String(2)),
              Column('zip', String(5))
             )

In [ ]:
#create event table
event = Table('event', metadata,
              Column('id', String, primary_key= True)
              Column('event_name', String),
              Column('headliner', String),
              Column('genre', String),
              Column('max_price', Integer),
              Column('min_price', Integer),
              Column('onsale_date', DateTime),
              Column('event_date', DateTime)
             )

In [ ]:
#create Artist table with popularity