In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('ticket_data.csv')

/Users/matt/.pyenv/versions/3.7.4/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (4,6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df.shape

(51142, 43)

In [5]:
df

,Unnamed: 0,event_name,price_min,price_max,max_tickets,venue_name_x,postalCode,city,state,country,...,median_price,lowest_price,headliner,venue_name_y,venue_popularity,venue_address,venue_city,venue_state,venue_zip,venue_id
0,0,The Rocky Horror Masquerade Ball,23.00,23.00,10,Alabama Theatre,35203,Birmingham,AL,US,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,AEG & Tom Joyner Present: Magic City Music Fest,39.00,69.00,10,BJCC Concert Hall,35203,Birmingham,AL,US,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Jonas Brothers: Happiness Begins Tour,37.95,517.95,10,Legacy Arena at The BJCC,35203,Birmingham,AL,US,...,189.0,69.0,Jonas Brothers,Smoothie King Center,0.0,1501 Dave Dixon Drive,New Orleans,LA,70113.0,184.0
3,3,Jonas Brothers: Happiness Begins Tour,37.95,517.95,10,Legacy Arena at The BJCC,35203,Birmingham,AL,US,...,179.0,61.0,Jonas Brothers,CHI Health Center Omaha,0.0,455 N. 10th Street,Omaha,NE,68102.0,107.0
4,4,Jonas Brothers: Happiness Begins Tour,37.95,517.95,10,Legacy Arena at The BJCC,35203,Birmingham,AL,US,...,315.0,71.0,Jonas Brothers,Prudential Center,0.0,25 Lafayette Street,Newark,NJ,7102.0,1500.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51137,51137,Brand X,35.00,35.00,10,Shank Hall,53202,Milwaukee,WI,US,...,74.0,74.0,Brand X,Shank Hall,0.0,1434 N. Farwell Ave.,Milwaukee,WI,53202.0,668.0
51138,51138,I Wrote That One Too...A Life in Songwriting S...,42.00,42.00,10,Kimberly Clark Theater Fox Cities Pac,54911,Appleton,WI,US,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51139,51139,Matt Heckler & Casper Allen,15.00,15.00,10,Casper Events Center,82601,Casper,WY,US,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51140,51140,Marlon Craft,15.00,15.00,10,Casper Events Center,82601,Casper,WY,US,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51141,51141,The Palmer Squares,15.00,15.00,10,Casper Events Center,82601,Casper,WY,US,...,NaN,NaN,The Palmer Squares,Casper Events Center,0.0,1 Events Dr.,Casper,WY,82601.0,1054.0