In [1]:
from fuzzywuzzy import fuzz
import pandas as pd
import numpy as np

In [41]:
tm_df = pd.read_csv('tm_events.csv')
wiki_df = pd.read_csv('all_venues.csv')

In [43]:
wiki_df[wiki_df.City == 'New York']

      Unnamed: 0                           Venue      City Capacity
674            0             Rockwood Music Hall  New York       70
676            2        Shrine World Music Venue  New York      130
706           32                       Cafe Wha?  New York      220
760           86                  Wicked Willy's  New York      175
926          252                Two e Bar/Lounge  New York      125
955          281  Rose Bar at the Gramercy Hotel  New York       80
1056         382           Dinosaur BBQ New York  New York       70
1078         404               Coney Island Baby  New York      200
1093         419                  The Appel Room  New York      600
1133         459                      The Groove  New York      120
1147         473               Etcetera Etcetera  New York      100

In [44]:
tm_venues = list(set(tm_df.venue_name))
wiki_venue = list(set(wiki_df.Venue))

In [45]:
wiki_venue = [x.split('[')[0] for x in wiki_venue]

In [47]:
name = 'temp'
temp = 0
d = {}
for tm in tm_venues:
    for wiki in wiki_venue:
        ratio = fuzz.token_sort_ratio(tm, wiki)
        if ratio > temp:
            temp = ratio
            name = wiki
    if temp >= 90:
        d[tm] = name
        temp = 0

In [48]:
tm_df.venue_name = tm_df.venue_name.apply(lambda x: d[x] if x in d else x)

In [49]:
df = pd.merge(tm_df, wiki_df, how='left', left_on='venue_name', right_on='Venue')

In [50]:
nan_frame = df[df.Capacity.isnull()]

In [52]:
nan_frame.shape

(20044, 25)

In [59]:
df.dropna(subset=['Capacity'],inplace=True)

In [62]:
df.to_csv('tm_events.csv')