In [1]:
from fuzzywuzzy import fuzz
import pandas as pd
import numpy as np

In [2]:
tm_df = pd.read_csv('tm_events.csv')
wiki_df = pd.read_csv('all_venues.csv')

In [3]:
wiki_df[wiki_df.City == 'New York']

      Unnamed: 0                           Venue      City Capacity
674            0             Rockwood Music Hall  New York       70
676            2        Shrine World Music Venue  New York      130
706           32                       Cafe Wha?  New York      220
760           86                  Wicked Willy's  New York      175
926          252                Two e Bar/Lounge  New York      125
955          281  Rose Bar at the Gramercy Hotel  New York       80
1056         382           Dinosaur BBQ New York  New York       70
1078         404               Coney Island Baby  New York      200
1093         419                  The Appel Room  New York      600
1133         459                      The Groove  New York      120
1147         473               Etcetera Etcetera  New York      100

In [4]:
tm_venues = list(set(tm_df.venue_name))
wiki_venue = list(set(wiki_df.Venue))

In [5]:
wiki_venue = [x.split('[')[0] for x in wiki_venue]

In [6]:
name = 'temp'
temp = 0
d = {}
for tm in tm_venues:
    for wiki in wiki_venue:
        ratio = fuzz.token_sort_ratio(tm, wiki)
        if ratio > temp:
            temp = ratio
            name = wiki
    if temp >= 90:
        d[tm] = name
        temp = 0

In [7]:
tm_df.venue_name = tm_df.venue_name.apply(lambda x: d[x] if x in d else x)

In [8]:
df = pd.merge(tm_df, wiki_df, how='left', left_on='venue_name', right_on='Venue')

In [9]:
nan_frame = df[df.Capacity.isnull()]

In [10]:
nan_frame.shape

(8154, 24)

In [12]:
df.shape

(3478, 24)

In [13]:
df.to_csv('tm_events.csv')

In [14]:
df

,Unnamed: 0_x,event_name,price_min,price_max,max_tickets,venue_name,postalCode,city,state,country,...,genre,subgenre,event_date,is_presale,days_event,day_of_week,Unnamed: 0_y,Venue,City,Capacity
0,0,The Rocky Horror Masquerade Ball,23.00,23.00,10,Alabama Theatre,35203,Birmingham,AL,US,...,Music,Music,2019-10-18 01:30:00+00:00,0,58.0,4.0,0.0,Alabama Theatre,Birmingham,"2,176"
2,2,Jonas Brothers: Happiness Begins Tour,37.95,517.95,10,Legacy Arena at the BJCC,35203,Birmingham,AL,US,...,Rock,Pop,2019-11-13 01:30:00+00:00,1,151.0,2.0,3.0,Legacy Arena at the BJCC,Birmingham,"17,654"
3,3,Eric Church: Double Down Tour,13.00,147.00,10,Legacy Arena at the BJCC,35203,Birmingham,AL,US,...,Country,Country,2019-10-26 01:00:00+00:00,1,175.0,5.0,3.0,Legacy Arena at the BJCC,Birmingham,"17,654"
4,4,Trans-Siberian Orchestra 2019 Presented By Hal...,46.75,87.50,10,Legacy Arena at the BJCC,35203,Birmingham,AL,US,...,Rock,Pop,2019-12-11 01:30:00+00:00,1,88.0,2.0,3.0,Legacy Arena at the BJCC,Birmingham,"17,654"
5,5,MercyMe Imagine Nation Tour,23.75,160.00,8,Legacy Arena at the BJCC,35203,Birmingham,AL,US,...,Rock,Pop,2019-10-17 00:00:00+00:00,1,152.0,3.0,3.0,Legacy Arena at the BJCC,Birmingham,"17,654"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11604,11597,Roy Orbison & Buddy Holly: Rock’N’Roll Dream Tour,20.00,40.00,10,Orpheum Theater,53703,Madison,WI,US,...,Undefined,Undefined,2019-10-25 02:00:00+00:00,1,125.0,4.0,374.0,Orpheum Theater,Omaha,"2,600"
11605,11597,Roy Orbison & Buddy Holly: Rock’N’Roll Dream Tour,20.00,40.00,10,Orpheum Theater,53703,Madison,WI,US,...,Undefined,Undefined,2019-10-25 02:00:00+00:00,1,125.0,4.0,668.0,Orpheum Theater,Madison,"1,697"
11613,11605,Funk Out Cancer: A Concert & Auction in Memory...,27.00,27.00,10,Orpheum Theater,53703,Madison,WI,US,...,R&B,Funk,2019-11-02 02:00:00+00:00,0,161.0,5.0,253.0,Orpheum Theater,New Orleans,"1,500"
11614,11605,Funk Out Cancer: A Concert & Auction in Memory...,27.00,27.00,10,Orpheum Theater,53703,Madison,WI,US,...,R&B,Funk,2019-11-02 02:00:00+00:00,0,161.0,5.0,374.0,Orpheum Theater,Omaha,"2,600"
11615,11605,Funk Out Cancer: A Concert & Auction in Memory...,27.00,27.00,10,Orpheum Theater,53703,Madison,WI,US,...,R&B,Funk,2019-11-02 02:00:00+00:00,0,161.0,5.0,668.0,Orpheum Theater,Madison,"1,697"